body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* TOP BLUE STRIP */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(43, 145, 240);
}

/* 'WEATHER' TEXT FOR TOP BLUE STRIP */
.header-content {
    width: 48%;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    z-index: 1000;
}

.nav-buttons {
    display: flex;
    gap: 0px;
}

.nav-button {
    text-decoration: none;
    color: white;
    background-color: #0056b3;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #003d80;
}

.location-input-box {
    width: 30vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}

.city-name-container {
    font-weight: bold;
    font-size: xx-large;
    color: black;
    margin-top: 100px;
    padding: 20px;
    background-color: antiquewhite;
}

.hourly-view-container {
    font-weight: bold;
    font-size: xx-large;
    color: black;
    background-color: beige;
    margin-top: 40px;
    padding: 20px;
}

.dual-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.dual-container .content {
    width: 48%;
    height: auto;
    background-color: #ec1cff;
    padding: 10px;
}

.day-selector {
    display: flex;
    gap: 10px;
}

.day-box {
    font-weight: bold;
    font-size: xx-large;
    color: black;
    background-color: beige;
    margin-top: 40px;
    padding: 20px;
    flex: 1;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

.day-box:hover {
    background-color: #0056b3;
}

.day-box.selected {
    flex: 2; /* Expand selected box */
    background-color: #0056b3;
}

.day-box.unselected {
    flex: 1; /* Shrink unselected boxes */
    opacity: 0.7;
}

/* HOURLY VIEW */
.weather-container {
    display: flex;
    padding: 10px;
}

.box {
    flex: 1;
    width: 100px; /* You can adjust this width as needed */
    margin: 0 10px; /* Add horizontal margin for some spacing between boxes */
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 10%;
}

