<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>

    <div class="header-container">
        <div class="header-content">Weather</div>
        <input type="text" class="location-input-box" placeholder="Enter location...">
    </div>
    
    <div class="city-name-container">
        London
    </div>

    <div class="day-picker-container">
        ---DAY PICKER---
    </div>

    <div class="hourly-view-container">
        ---HOURLY VIEW---
    </div>

    <!-- Test table -->
    <div class="main-content">
    <h1>Weekly Weather Forecast in {{LATITUDE, LONGITUDE}}</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Max Temperature (°C)</th>
            <th>Min Temperature (°C)</th>
        </tr>
        {% for date, max_temp, min_temp in weekly_forecast %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ max_temp }}</td>
            <td>{{ min_temp }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <!-- DUAL CONTAINER FOR CHART AND MAP-->
    <div class="dual-container">
        <div class="content" id="graph-container">
             <h1>---GRAPH---</h1>
        </div>
        <div class="content" id="map-container">
            <h1>---MAP---</h1>
        </div>
    </div>
</body>
</html>