<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>

    <div class="header-container">
        <div class="header-content">Weather</div>
        <input type="text" class="location-input-box" placeholder="Enter location...">
    </div>
    
    <div class="city-name-container">
        {{city}}
    </div>

    <div class="day-selector">
        <div class="day-box" id="day-1">Day 1</div>
        <div class="day-box" id="day-2">Day 2</div>
        <div class="day-box" id="day-3">Day 3</div>
        <div class="day-box" id="day-4">Day 4</div>
        <div class="day-box" id="day-5">Day 5</div>
        <div class="day-box" id="day-6">Day 6</div>
        <div class="day-box" id="day-7">Day 7</div>
    </div>
    <!---DAY PICKER--->

    <div class="hourly-view-container">
        ---HOURLY VIEW---
    </div>

    <!-- Test table -->
    <div class="main-content">
    <h1>Weekly Weather Forecast in {{city}}</h1>
    <table>
        <tr>    
            <th>Date</th>
            <th>Max Temperature (°C)</th>
            <th>Min Temperature (°C)</th>
        </tr>
        {% for date, max_temp, min_temp in weekly_forecast %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ max_temp }}</td>
            <td>{{ min_temp }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <!-- DUAL CONTAINER FOR CHART AND MAP-->
    <div class="dual-container">
        <div class="content" id="graph-container">
             <h1>---GRAPH---</h1>
        </div>
        <div class="content" id="map-container">
            <h1>---MAP---</h1>
        </div>
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const dayBoxes = document.querySelectorAll('.day-box');

    dayBoxes.forEach(box => {
        box.addEventListener('click', () => {
            dayBoxes.forEach(b => b.classList.remove('selected', 'unselected'));
            box.classList.add('selected');
            dayBoxes.forEach(b => {
                    if (!b.classList.contains('selected')) {
                        b.classList.add('unselected');
                    }
                });
            });
        });
    });

    document.addEventListener()
</script>
</html>
