<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header-container">
        <div class="header-content">WEATHER</div>
        <div class="nav-buttons">
            <a href="/" class="nav-button">Home</a>
            <div class="nav-button">Map</div>
        </div>
    </div>
    <!-- Rest of the HTML content -->
    <div class="city-name-container">
        {{ city }}
    </div>

    <div class="day-selector">
        <!-- Day boxes -->
    </div>

    <div class="hourly-view-container">
        ---HOURLY VIEW---
        <div class="weather-container" id="weatherContainer">
            <!-- Boxes will be added here dynamically -->
        </div>
    </div>

    <div class="content" id="map-container">
        <iframe src="{{ url_for('osm') }}" style="width: 95vw; height: 70vh;"></iframe>
    </div>


</body>

<script>
    // JavaScript content
</script>

</html>
