<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OSM</title>
</head>
<body>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<style>
  #map {
    border: 2px solid black;
    height: 100vh;
  }
</style>
<div id="map"></div>
<script>
  var map = L.map('map').setView([51.505, -0.09], 12);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  var marker = L.marker([51.505, -0.09], { draggable: true }).addTo(map);

  function onMarkerDragEnd(e) {
    var latlng = e.target.getLatLng();
    // alert("Coordinates: " + latlng.lat + ", " + latlng.lng);
    console.log(latlng.lat, latlng.lng);
    window.parent.postMessage({ latitude: latlng.lat, longitude: latlng.lng }, '*');
  }

  marker.on('dragend', onMarkerDragEnd);
</script>
</body>
</html>